<html>
    <head>
        <title>MyApp</title>
    </head>
    <body>
        <h1><%=title %></h1>
        <ul>
            <%for(var i in list){%>
                <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>